node_modules/
.next/
dist/
.env
.env.local
.env.*.local
.env.*-backup
*.tsbuildinfo
.turbo/
.vercel/

# Prisma
packages/shared/src/generated/

# PouchDB
.pouchdb/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.vercel
